body {
	font-family: 'Cinzel', serif;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: #000;
}

.nav {
	border-right: 3px solid rgba(0, 0, 0, 0.6);
	padding: 50px 20px;
	height: 100vh;
	/*opacity: 0*/;
}

.nav-logo {
	margin-bottom: 100px;
}

.nav-logo img {
	display: block;
	width: 100%;
	padding: 5px;
}

.nav-logo img:hover {
	transform: rotateY(360deg);
	transition: 1s;
}

.nav-list {
	font-size: 1.7rem;
	text-align: center;
	width: 100%;
}

.nav-list li {
	list-style: none;
}

.nav-list li a {
	text-decoration: none;
	transition: 1s;
}

.nav-list li a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	transition: 1s;
	font-size: 1.4rem;
}

	/* ハンバーガーメニュー非表示 */
	.smp-nav-list,
	.smp-nav-trigger {
		display: none;
	}

/* アンリミブログ　ナビゲーション　スマホ */
@media only screen and (max-width: 767px) {
	.nav {
		border-right: 0;
		/*padding: 0;*/
	}
	.nav-logo {
		display: none;
	}

	/* ナビゲーションを非表示 */
	.nav-list {
		display: none;
	}

	/* ハンバーガーメニュー　レイアウト */
	.smp-nav-list {
		position: fixed;
		display: block;
		padding-left: 20px;
		z-index:999;
		top: 0;
		right: 0;
		width: 60%;
		height: 100vh;
		background-color: #fff;
		color: #000;
		transform: translateX(100%);
		transition: all .4s;
	}

	.smp-nav-list li {
		list-style: none;
		line-height: 3.0rem;
		border-bottom: solid 2px #000;
	}
	.smp-nav-list li a {
		font-size: 1.5rem;
		color: #000;
		display: block;
	}

	/* ハンバーガーメニュー　閉じるボタン */
	.smp-nav-btn-inactive {
		font-weight: bold;
		font-size: 2.5rem;
		display: inline-block;
	}

	/*.smp-nav-triggerがクリックされるとactiveクラスが付与される。
		クリック時に画面右側からナビゲーションが出る。*/
	.smp-nav-list.active {
		transform: translateX(0);
	}

	/* ハンバーガーボタン */
	.smp-nav-trigger {
		position: absolute;
		top: 32px;
		right: 24px;
		z-index: 20;
		cursor: pointer;
		display: inline-block;
	}

	.smp-nav-trigger span {
		display: block;
		position: relative;
		width: 30px;
		border-bottom: solid 3px #000;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}

	.smp-nav-trigger span:nth-child(1) {
		top: -9px;
	}

	.smp-nav-trigger span:nth-child(2) {
		top: 0;
	}

	.smp-nav-trigger span:nth-child(3) {
		top: 9px;
	}

	/* .smp-nav-triggerクリック時にハンバーガ―メニューの1~3目まで角度変化 */
	.smp-nav-trigger.active span:nth-child(1) {
		top: 3px;
		transform: rotate(-45deg);
	}

	.smp-nav-trigger.active span:nth-child(2) {
		top: 0px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	}

	.smp-nav-trigger.active span:nth-child(3) {
		top: -3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	}
}

/* Home */
.home-main-video {
	height: 100vh;
}

.home-main-video video {
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.smp-home-main {
		position: absolute;
		z-index:10;
	}
}

/* Gallery */
.col-md-10 {
	position: relative;
	height: 100vh;
	overflow-y: scroll;
}

.item-common {
	margin-bottom: 4px;
	border-radius: 5px;
	background-color: #fff;
}

.item {
	width: 180px;
}

.item img {
	width: 100%;
}

.item-m {
	width: 364px;
}

.item-m img {
	width: 100%;
}

.item-l {
	width: 732px;
}

.item-l img {
	width: 100%;
}