body {
	font-family: 'Jacques Francois Shadow', cursive;
;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: #000;
}

/* Navigation */
.nav {
	border-right: 3px solid rgba(0, 0, 0, 0.6);
	padding: 50px 20px;
	height: 100vh;
	/*opacity: 0*/;
}

.nav-logo {
	margin-bottom: 100px;
}

.nav-logo img {
	display: block;
	width: 100%;
	padding: 5px;
}

.nav-logo img:hover {
	transform: rotateY(360deg);
	transition: 1s;
}

.nav-list {
	font-size: 1.7rem;
	text-align: center;
	width: 100%;
}

.nav-list li {
	list-style: none;
}

.nav-list li a {
	text-decoration: none;
	transition: 1s;
}

.nav-list li a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	transition: 1s;
	font-size: 1.4rem;
}

/* ハンバーガーメニュー非表示 */
.smp-nav-list,
.smp-nav-trigger {
	display: none;
}

/* Navigation-smp */
@media only screen and (max-width: 767px) {
	.nav {
		border-right: 0;
		/*padding: 0;*/
	}
	.nav-logo {
		display: none;
	}

	/* ナビゲーションを非表示 */
	.nav-list {
		display: none;
	}

	/* ハンバーガーメニュー　レイアウト */
	.smp-nav-list {
		position: fixed;
		display: block;
		padding-left: 20px;
		z-index:999;
		top: 0;
		right: 0;
		width: 60%;
		height: 100vh;
		background-color: #fff;
		color: #000;
		transform: translateX(100%);
		transition: all .4s;
	}

	.smp-nav-list li {
		list-style: none;
		line-height: 3.0rem;
		border-bottom: solid 2px #000;
	}
	.smp-nav-list li a {
		font-size: 1.5rem;
		color: #000;
		display: block;
	}

	/* ハンバーガーメニュー　閉じるボタン */
	.smp-nav-btn-inactive {
		font-weight: bold;
		font-size: 2.5rem;
		display: inline-block;
	}

	/*.smp-nav-triggerがクリックされるとactiveクラスが付与される。
		クリック時に画面右側からナビゲーションが出る。*/
	.smp-nav-list.active {
		transform: translateX(0);
	}

	/* ハンバーガーボタン */
	.smp-nav-trigger {
		position: absolute;
		top: 32px;
		right: 24px;
		z-index: 20;
		cursor: pointer;
		display: inline-block;
	}

	.smp-nav-trigger span {
		display: block;
		position: relative;
		width: 30px;
		border-bottom: solid 3px #000;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}

	.smp-nav-trigger span:nth-child(1) {
		top: -9px;
	}

	.smp-nav-trigger span:nth-child(2) {
		top: 0;
	}

	.smp-nav-trigger span:nth-child(3) {
		top: 9px;
	}

	/* .smp-nav-triggerクリック時にハンバーガ―メニューの1~3目まで角度変化 */
	.smp-nav-trigger.active span:nth-child(1) {
		top: 3px;
		transform: rotate(-45deg);
	}

	.smp-nav-trigger.active span:nth-child(2) {
		top: 0px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	}

	.smp-nav-trigger.active span:nth-child(3) {
		top: -3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	}
}

/* Home */
.home-main-video {
	height: 100vh;
}

.home-main-video video {
	height: 100%;
	width: 100%;
}

/* Home-smp */
@media only screen and (max-width: 767px) {
	.smp-home-main {
		position: absolute;
		z-index:10;
	}
}

/* Profile */
.profile-area-wrapper {
	font-family: 'Jacques Francois', serif;
	position: relative;
	text-align: center;
	background-image: url('/assets/img/portfolio-profile-background.png');
	background-repeat: round;
}

.profile-area {
	width: 720px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 20px;
}

.profile-area:after {
	content: '';
	display: block;
	clear: both;
}

.profile-area h1 {
	margin-bottom: 2.0rem;
}

.profile-area-icon {
	position: absolute;
	top: 8px;
	right: 32px;
}

.profile-area-icon img {
	width: 32px;
}

.profile-area-image {
	width: 50%;
	position: relative;
}

.profile-area-image img {
	height: 300px;
	width: 300px;
	float: left;
}

/*.profile-area-image .translate-btn {
	position: absolute;
	top: 260px;
	left: 5px;
}

.profile-area-image .translate-btn img {
	width: 32px;
	height: 32px;
}
*/
.profile-area-description {
	float: right;
	width: 50%;
	text-align: left;
	height: 300px;
	overflow-y: scroll;
}

.profile-area-description span img {
	width: 3rem;
}

.profile-area-description .skill {
	display: inline-block;
	color: #343d46;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #343d46;
	border-radius: 3px;
	transition: .5s;
}

.profile-area-description .skill:hover {
	color: #fff;
	border: 1px solid #343d46;
	border-radius: 3px;
	transition: .5s;
	background-image: linear-gradient(45deg, #343d46 0%, #f0f0f0 100%);
}

/* Profile-smp */
@media only screen and (max-width: 767px) {
	.profile-area-wrapper {
		background-image: url('./../img/portfolio-profile-background-smp.jpg');
		background-repeat: round;
	}

	.profile-area {
		width: 100%;
		padding: 0 55px;
	}

	.profile-area h1 {
		margin-bottom: 0.5rem;
		font-size: 2.0rem;
	}

	.profile-area-icon {
		position: absolute;
		top: 94px;
		right: 75px;
		z-index: 30;
	}

	.profile-area-icon img {
		display: block;
	}

	.profile-area-image {
		width: 100%;
		margin-bottom: 20px;
		z-index: 10;
	}

	.profile-area-image img {
		height: 150px;
		width: 150px;
		float: none;
	}

	.profile-area-description {
		height: 230px;
		width: 100%;
		float: none;
		overflow-y: scroll;
		text-align: center;
	}

	.profile-area-description span img {
		display: none;
	}
}

/* Skill */
.skill-area {
	width: 800px;
	display: inline-flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.skill-area .skill-area-block {
	width: 100%;
	height: 230px;
	padding: 10px;
}

.skill-area .skill-area-block:nth-of-type(1),
.skill-area .skill-area-block:nth-of-type(2) {
	margin-right: 20px;
}

.skill-area .skill-area-block .skill-area-logo {
	margin-bottom: 20px;
}

.skill-area .skill-area-block .skill-area-logo img {
	width: 80px;
	opacity: 0.7;
}

.skill-area .skill-area-block:nth-of-type(2) .skill-area-logo {
	height: 80px;
	padding: 10px;
}

.skill-area .skill-area-block:nth-of-type(2) .skill-area-logo img {
	width: 60px;
}

.skill-area .skill-area-block .skill-area-title {
	margin-bottom: 10px;
}

.skill-area .skill-area-block .skill-area-title h2 {
	font-size: 1.3rem;
}

.skill-area-arrow {
	display: none;
}

/* Skill-smp*/
@media only screen and (max-width: 767px) {
	.skill-area {
		display: block;
		height: 260px;
		max-width: 240px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow-y: scroll;
	}

	.skill-area .skill-area-block {
		height: 260px;
	}

	.skill-area .skill-area-block:nth-of-type(1),
	.skill-area .skill-area-block:nth-of-type(2) {
		margin-right: 0px;
	}

	.skill-area .skill-area-block .skill-area-logo {
		margin-bottom: 20px;
	}

	.skill-area-arrow {
		display: block;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.skill-area-arrow img {
		width: 3rem;
	}
}

/* Works */
.works-area {
	position: absolute;
	top: 45%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.works-area .works-area-image img {
	width: 500px;
	height: auto;
	border: 1px solid #000;
}

.works-area .works-area-description {
	position: absolute;
	left: -300px;
}

.works-area .works-area-description h2 {
	font-size: 5rem;
}

.works-area .works-area-description p {
	font-size: 2rem;
}

/* Works-smp */
@media only screen and (max-width: 767px) {
	.works-area .works-area-image img {
		max-width: 250px;
		height: auto;
		border: 1px solid #000;
	}

	.works-area .works-area-description {
		position: absolute;
		left: -80px;
	}

	.works-area .works-area-description h2 {
		font-size: 2.0rem;
	}

	.works-area .works-area-description p {
		font-size: 1.0rem;
	}
}

/* Gallery */
.gallery-area {
	font-family: 'Jacques Francois', serif;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	top: 32px;
	left: 50px;
}

.item-common {
	margin-bottom: 4px;
	border-radius: 5px;
	border: 2px solid #333;
	overflow: hidden;
}

.item-common strong {
	position: absolute;
	display: block;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	opacity: 0;
	color: #fff;
	padding: 4px 0;
}

.item-common span {
	position: absolute;
	display: block;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 50px rgba(50, 30, 0, 0.6),
						  inset 0 0 100px rgba(50, 30, 0, 0.3);
	background: rgba(255, 155, 0, 0.2);
	opacity: 0;
}

.item-m {
	width: 364px;
}

.item-m img {
	width: 100%;
}

.item-l {
	width: 732px;
}

.item-l img {
	width: 100%;
}

/* Gallery-smp */
@media only screen and (max-width: 767px) {
	.gallery-area {
		height: 100vh;
		overflow-y: scroll;
		position: relative;
		top: 65px;
		left: 6px;
	}

	.item-m {
		width: 180px;
	}

	.item-l {
		width: 364px;
	}

}

/* Contact */
.contact-area-wrapper h1 {
	font-family: 'Jacques Francois', serif;
	position: relative;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.contact-area {
	text-align: center;
	width: 760px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact-area .contact {
	width: 100%;
	display: block;
	border: 2px solid #f0f0f0;
	padding: 8px;
	margin-bottom: 15px;
}

.contact-area form {
	font-family: serif;
}

.contact-area textarea {
	height: 100px;
}

.contact-area .btn-light {
	background-color: rgba(255, 255, 255, 0.5);
	border-color: #E2E6EA;
}

.contact-area .btn-light:hover {
	background-color: #E2E6EA;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Contact-smp */
@media only screen and (max-width: 767px) {
	.contact-area {
		width: 300px;
	}
}